@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
body{
	font-family: 'PT Sans', sans-serif;
}
.label-default{
	color: #999;
	background-color: #ecf0f1;
}
.label-danger{
	background-color: #e74c3c;
}
.btn{
	border: 0;
	font-weight: bold;
	font-size: 13px;
}
.btn-primary{
	border: 1px solid #2980b9;
	background-color: #3498db;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.btn-primary:hover{
	background-color: #2980b9;
}
.btn-danger{
	font-weight: bold;
	background-color: #e74c3c;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid #c0392b;
}
.brn-danger:hover{
	background-color: #c0392b;
}
.btn-default{
	border: 1px solid #bdc3c7;
	background-color: #ecf0f1;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/*utilities*/
.text-shadow-dark-full{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}
.text-shadow-dark-half{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.text-shadow-light-full{
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
.container{
	width: 1000px;
}

/*MEDIA*/
.my-media{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.my-media-footer{
	margin-top: 10px;
}
.my-media-cover{
	background-image: url(../../img/play.png);
	background-repeat: no-repeat;
	background-position: center center;	
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #000;
	background-size: 25%;
}
.my-media-cover img{
}
.my-media-btn{
	font-size: 18px;
	color: #e74c3c;
	border: 0;
	background: none;
	display: none;
}
.my-media-cover img:hover{
	opacity: 0.1;
	/*-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	filter:alpha(opacity=70);*/
}
.my-media-avatar{

}
.my-media-body{
	margin-top:  10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
	height: auto;
	width: 100%;
}
a.my-media-title, a.my-media-artist-name{
	color: #000;
}
a.my-media-title{
	font-size: 18px;
	font-weight: bold;
	
}
a.my-media-artist-name{
}
.my-media-views{
	font-size: 11px;
}

/*TOP*/
a.my-top-media-title, a.my-top-media-artist{
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.my-top-media-title{
	color: #000;
	font-size: 32px;
	margin-bottom: -10px;
}
a.my-top-media-artist{
	color: #000;
	font-size: 22px;
}
.my-top-media-image{

}
.my-top-media-image:hover{
	opacity: .8;
}
.my-top-media-image-wrap{

	position: relative;
	margin-bottom: 10px;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #000;
}
.my-top-description{
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30%;
}
.sector-title{
	font-weight: bold;
	border-left: 3px solid #e74c3c;
	padding-left: 8px;
	text-transform: uppercase;
	color: #000;
	margin: 40px 0 15px 0;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
}
.sector-title-no-margin{
	margin: 0;
}
.sector-title-sm{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}

/*FOOTER*/
.footer{
	padding: 50px 0 20px 0;
	background-color: #EEE;
	margin-top: 80px;
}
.footer-social img{
	/*margin-top: 10px;*/
	width: 32px;
}
.footer-links a{
	color: #333;
}

/*PROFILE*/
.profile-cover{
	height: 250px;
	background-color: #EEE;
	margin-top: -20px;
}

.artists-featured{
	margin-top: 20px;
	border-left: 3px solid #e74c3c;
	padding-left: 20px;
}

/*PLAYLIST PLAYER*/
.playlist{
	z-index: 10;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	/*Largura está no jquery*/
	width: 30%;
	height: 100%;
	right:0;
	top: 0;
	overflow: hidden;
}
.playlist-btn-action{
	border: 0;
	background: none;
	bottom: 0;
	/*outline: none;*/
}
.playlist-title{
	height: 10%;
	color: #FFF;
	padding-left: 15px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
}
.playlist-title h3{
	position: absolute;
	top: 50%;
	text-transform: uppercase;
	padding-left: 8px;
	font-family: 'PT Sans', sans-serif;
	border-left: 3px solid #e74c3c;
	vertical-align: middle;
	font-size: 16px;
	margin-top: -8px;
	font-weight: bold;
}
.playlist-content{
	height: 90%;
	overflow: auto;

	padding: 0 15px 15px 15px;
	color: #FFF;
}
.playlist-content > .media > a.active, .playlist-content > .media:hover {
	border-left: 3px solid #e74c3c;
}
.playlist a{
	color: #FFF;
}
.playlist > .sector-title{
	color: #FFF;
}

/*PLAYER*/
.player-wrap{
	background-color: #111;
}
.player-header{
	background-color: #000;
	margin-top: -20px;
}

/*HOME*/
.home-header{
	/*background-image: url(../../img/home-top-bg.jpg);*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #EEE;
	margin-top: -20px;
	padding: 20px 0;
	color:#000;
	margin-bottom: 20px;
}
.artists-related-container{
	clear: both;

}
.artists-related-thumb{
	margin-bottom: 4%;
	margin-right: 4%;
	width: 21%;
	float: left;
}
.artists-related-thumb:last-child{
	margin-right: 0;
}

.my-navbar-search{
	border: 0;
	background-color: #EEE;
	width: 280px!important;
	box-shadow: none!important;
}
.my-navbar-submit-btn{
	outline: none;
	background: none;
	border: 0;
	margin-left: -38px;
	color: #8F8F8F;
}

.play-lg{
	position: absolute;
	width: 60px;
	margin-left: -30px;
	margin-top: -30px;
	left: 50%;
	top: 50%;
}

.search-input{
	border: 0;
	background-color: #EEE;
	box-shadow: none!important;
}
.search-btn, .search-btn:hover{
	background-color: #EEE;
	border: 1px solid #EEE;
	color: #8F8F8F;
}

.profile-links a{
	margin-bottom: 10px;
	color: #333;
}

.profile-artist-name{
	font-family: 'PT Sans', sans-serif;
	margin-top: 10px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

.player-song-name{
	font-weight: bold;
}
.player-artist-name a{
	font-weight: bold;
	color: #333;
}
.player-btns{
	margin-top: 35px;

}
.player-btn-action{
	font-weight: normal;
}
.player-btn-share{
	font-weight: normal;
	padding-right: 60px;
	padding-left: 60px;
}